* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  color: rgb(50, 50, 50);
}
header {
  height: 100vh;
  
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0.9rem 3%;
  align-items: center;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  height: 8%;
}
.navlist {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
}
.navlist li:hover {
  color: rgb(112, 112, 112);
  cursor: pointer;
}
#logo {
  font-weight: 900;
  font-size: 1.2rem;
}
#logo {
  cursor: pointer;
}
/* Hero Section */
#hero-section {
  background-color: #f4e2ff;
  height: 92%;
  display: grid;
  place-content: center;
  padding: 0 7%;
  /* background-color: red; */
}
.hero {
}
.hero-text {
  padding: 2rem 2rem 3rem 2rem;
  position: relative;
  z-index: 1;
  background-color: #fff;
  box-shadow: #d19dce 5px 5px, #d8a6d7 10px 10px, #dfb2dd 15px 15px,
    #ebc1e9 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}
.text {
  background-color: #fff;
  height: 100%;
}

.hero-text .bold {
  font-weight: 900;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
}
.pink-text {
  color: #d1abcf;
}
#hero-description {
  font-size: 0.9rem;
  margin-bottom: 2rem;
  line-height: 1.2rem;
}
.download-btn {
  background-color: #d19dce;
  color: #fff;
  text-decoration: none;
  padding: 0.7rem 1rem;
}
.mobile-image {
  display: none;
}
/* ABOUT SECTION */
.section {
  padding: 10% 10%;
}
/* ABOUT */
.section-head-container {
  text-align: center;
}
.section-heading {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.about-image {
  text-align: center;
}
#about-phone-image {
  width: 15rem;
  margin: 2rem 0;
  text-align: center;
}
.section-subheading {
  margin-bottom: 2rem;
}
.section-subheading .section p {
  font-size: 0.9rem;
}
.text-item-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 2rem 5rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.text-item-container h3 {
  margin-bottom: 0.7rem;
}
.fa-circle-check {
  position: absolute;
  top: 1.7rem;
  left: 1.5rem;
  font-size: 2rem;
  color: rgb(152, 152, 232);
}
/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hero-text {
    width: 50%;
  }
  #hero-description {
    font-size: 1.2rem;
  }
  .hero-image {
    justify-self: end;
    width: 40%;
  }
  .mobile-image {
    display: block;
    /* max-height: 60%; */
    width: 60%;
  }
  /* SECTIONS */
  .section-subheading {
    width: 80%;
    margin: 0 auto;
    line-height: 1.7rem;
    font-size: 1rem;
  }
  .section p {
    font-size: 1rem;
  }
  /* ABOUT */
  .about-details {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
  }
  .text-item-container {
    padding: 1rem 0rem 1rem 3rem;
    font-size: 0.9rem;
    max-width: 35rem;
  }
  .fa-circle-check {
    position: absolute;
    top: 1.1rem;
    left: 0.9rem;
    font-size: 1.2rem;
    color: rgb(152, 152, 232);
  }
  #about-phone-image {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .section-subheading {
    width: 60%;
  }
  .hero-text .bold {
    font-size: 2.4rem;
  }
  #logo {
    font-weight: 900;
    font-size: 1.7rem;
  }
  .navlist li {
    font-size: 1.1rem;
  }
}
